html{
font-family: 'Courier New', Courier, monospace;
background-color: darkslategrey;
/* background-color: lightpink; */
max-width: 425px;
margin: auto;
}
body{box-sizing: border-box;}
a{
    text-decoration: none;
}
#icon-blocks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ddd;
    padding: 20px 2px 40px 2px;
}
.icon-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    text-align: center;
    /* border: 1px solid grey; */
    border-radius: 20px;
    margin: 4px;
    background-color: aliceblue;
}
.game-title{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}
.main-character-icon{
    font-size: 2rem;
}
h1{
    color:white;
background-color: #1abc9c;
    padding: 10px;
    margin:0;
    text-align: center;
}
h1 a{
    color: inherit;
}
footer{

    position: fixed;
bottom: 0;
left: 50%;
background-color: transparent;
color: grey;
text-align: center;
transform: translate(-50%, 0%);

}
a.main-character-icon, a.game-title {
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    cursor: default;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}